#margem{
    margin-bottom: 2vh;
}

input[type=checkbox] {
    cursor: pointer;
    width: 22px;
}

.obrigatorio {
    color: red;
}


.alinhadoDireita {text-align:right;}
.alinhadoCentro {text-align:center;}
.alinhadoEsquerda {text-align:left;}

